<!DOCTYPE html>
<html>
    <head>
        <title>Find Weather By Location</title>
        <link rel="stylesheet" href="./style-weather.css"/> 
    </head>
    <body>
        <div class="main-content">
            
            <article class="widget">
                <form class="weatherLocation"><input placeholder="location..." type = "text"/><button>Seach</button>
                </form>
                <div class="weatherIcon"><i class="wi wi-day-fog"></i></div>
                <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>    
                        <div class="place"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
           integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="../app.js"></script>
    </body>
</html>







